/* see: https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/ 
 * see: https://css-tricks.com/custom-scrollbars-in-webkit/
*/

.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: #999 rgba(0,0,0,0);
  scrollbar-width: thin;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 5px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: #999;
  border-radius: 10px;
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: rgba(0,0,0,0);
}


.deadzone {
}

.deadzone:hover {
    background-color: yellow;
}

.bottomleft {
    position: absolute;
    left: 1vmin;
    bottom: 1vmin;
    border-radius: 10%;
    width: 15vmin;
    height: 15vmin;
    background-color: red;
    z-index: 100;
}

.bottomright {
    position: absolute;
    right: 1vmin;
    bottom: 1vmin;
    border-radius: 10%;
    width: 15vmin;
    height: 15vmin;
    background-color: red;
    z-index: 100;
}
